
body,
html {
    height: 100%
    
}
*, ::after, ::before {
    box-sizing: border-box;
}


body {
    font-family: Graphik, Boing, sans-serif;
    color: #57584e;
    background-color: whitesmoke;
}

/* #full-page {
    height: 100%
} */
.wrapper {
    width: 100%;
    margin-bottom: 30px
}
.navbar{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between
}

/* .navbar{
    margin-left: auto;
    margin-right: auto;
    padding-left: .4rem;
    padding-right: .4rem;
    width: 100%
} */

.navbar{
    
        padding-top: 30px;
        padding-right: 50px;
        padding-bottom: 25px;
        padding-left: 50px;
        flex-wrap: nowrap;
}
.navbar_left{
    align-items: flex-start;
    flex-basis: 15%
}

.navbar_center{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 70%;
    text-align: center
}

.navbar_right{
    align-items: flex-end;
    justify-content: flex-end;
    flex-basis: 15%;
    text-align: right
}
.bagicon{
    cursor: pointer;
}

.show{
    display: none;
}
/* ///////////////////////////////////// PRODUCT AND SEARCH AREA  //////////////////////////////////////*/
/* ///////////////////////////////////// PRODUCT AND SEARCH AREA  //////////////////////////////////////*/
/* ///////////////////////////////////// PRODUCT AND SEARCH AREA  //////////////////////////////////////*/
/* ///////////////////////////////////// ///////////////////////  //////////////////////////////////////*/

.boss-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: .4rem;
    padding-right: .4rem;

}
.container-search{
    width: 67.3%;
}


.input-search-wrapper {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    align-items: center;
}
.input-search-wrapper {
    position: relative;
    margin-left: 15px;
    margin-right: 15px
}

.input-search-icon {
    position: absolute;
    left: 27px
}
.input-clear-icon {
    position: absolute;
    right: 30px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .15);
    text-decoration: none;
    color: inherit
}

.input-clear-icon:hover {
    cursor: pointer;
    text-decoration: none;
    color: inherit
}

.input-search {
    height: 55px;
    width: 100%;
    border-radius: 6px;
    border: none;
    padding-left: 60px;
    font-size: 16px;
    line-height: 24px;
    outline: none
}


.input-search::placeholder {
    color: #e7e7e7;
    opacity: 1
}

.input-search:active,
.input-search:focus {
    border: 2px solid rgba(255, 255, 255, .25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .02);
    margin: 0 -2px
}


.input-bg::placeholder {
    color: #57584e;
    opacity: 1
}


/* //////////////////////////////////////////product area ///////////////////////////////////////////////////// */
/* //////////////////////////////////////////product area ///////////////////////////////////////////////////// */
/* //////////////////////////////////////////product area ///////////////////////////////////////////////////// */


.container-product{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    justify-content: space-between;
    width: 65%;

}

.file-wrapper {
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    display: contents;
    overflow: hidden
}

.wrapper_image img {
    object-fit: fill
}
.product {
    border-radius: 6px;
    height: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 48%;
}
.product:hover .product_name {
    text-decoration: underline;
    
}
.product__media-container {
    border-radius: 6px 6px 0 0;
    background: #eceaeb;
    align-items: center;
    justify-content: center;
    height: 250px;
    overflow: hidden
}
.product_container-file {
    display: flex;
    padding: 20px
}
.product__media {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: contain;
    outline: none
}

.product__details {
    background: #fff;
    border-radius: 0 0 6px 6px;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    flex-grow: 1
}

.product_price {
    color: #919191;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none
}
/* .pro1{
    margin-left:2%;
}
.pro2{
    margin-right: 2%;
} */



.product_name {
    color: #57584e;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: fit-content

}

.product_name a {
    color: #57584e
}



 .media--img {
    pointer-events: none
}
.media--img
 {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: contain;
    outline: none
}
/*//////////////////////////////////////////////////////////// SIDE- BAR//////////////////////////////////// */
/*//////////////////////////////////////////////////////////// SIDE- BAR//////////////////////////////////// */
/*//////////////////////////////////////////////////////////// SIDE- BAR//////////////////////////////////// */
#mySidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    z-index: 200;
    background-color: white; 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  .sidenav-active .cover {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index:1;
    transition: background-color .3s, transform 0.3s;
  } 
  .bagiconn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end
  }
  
  .bagicon__iconn {
      cursor: pointer;
      z-index: 1000
  }  
  .bag-summary {
      color: #57584e;
      position: relative
  }
  
  .bag_header {
      justify-content: space-between;
      padding: 35px;
      border-bottom: 1px dashed #e7e7e7
  }
  
  .bag_header,
  .bag_header-left {
      display: flex
  }
  
  .bag_header-left {
      align-items: center
  }
  
  .bag_header-right {
      text-align: right
  }
  
  .bag_product-price-text {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0
  }
  
  .bag_price-text {
      color: #57584e;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 15px
  }
  
  .bag_shipping-price-text {
      color: #919191;
      font-weight: 500;
      margin-bottom: 0;
      font-size: 15px
  }
  
  .bagview {
      color: #57584e;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between
  }
  
  .bagview__content {
      padding: 35px
  }
  .bagview__empty {
      padding: 35px;
      text-align: center
  }
  
  .bagview__actions {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-top: 1px solid #f5f5f5
  }
  
  .bagview__actions>:not(:first-child) {
      margin-top: 10px
  }
  
  .button {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, .05);
      padding: 10px 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      min-height: 50px;
      border-radius: 5px;
      outline: none;
      background: #fafafa;
      color: #57584e
  }
  
  .button:active,
  .button:hover,
  .button[disabled] {
      border: 1px solid rgba(0, 0, 0, .05);
      background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
      background: initial;
      opacity: .8
  }
  
  .button_btn {
      border-radius: 5px;
      padding: 10px 20px;
      color: #fff
  }
  
  .button_btn[disabled] {
      opacity: .3;
      pointer-events: none
  }  
  @media(max-width:600px) {
      .button {
          font-size: 16px
      }
  }
  
  /* ///////////////////////////////////////////////////END SIDE BAR /////////////////////////////////////// */
  /* ///////////////////////////////////////////////////END SIDE BAR /////////////////////////////////////// */
  /* ///////////////////////////////////////////////////END SIDE BAR /////////////////////////////////////// */



/* /////////////////////////POP-UP////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////POP-UP////////////////////////////////////////////////////////////////////////// */
/* FIRST MODAL////////*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

  }

  /* ///////////////SECOND MODAL /////////*/
  /* ///////////////SECOND MODAL /////////*/
  .modall {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 

  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button for second modal */
  .closee {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -10px;
  }
  
  .closee:hover,
  .closee:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*  The Close Button of first Modal */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -10px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


 
  .container-pop{
    display: flex;
    flex-direction: row;
  }
  .site1{
    padding-right: 7%;
  }
.pop-details-name {
    color: #57584e;
    font-weight: 700;
    font-size: 23px;
    line-height: 20px;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: fit-content
}
.pop-img{
    width: 150%;
}
.site2{
    margin-left: 15%;
    margin-right: 10%;
}
.company_name{
    font-weight: 700;
    color: #919191;
}
.quantity{
    font-weight: 700;
    color: #919191;
}
.price_header{
    font-weight: 700;
    color: #919191;
}
.price_ammount{
    font-weight: 800;
}
.addtobag_button{
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    min-height: 50px;
    border-radius: 5px;
    outline: none;
    color: #fafafa
}


/* ///////////////////////////////////MEDIA QUERY'S///////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////// */





@media(min-width:600px) {
        .media--img
         {
            max-width: 100%;
            max-height: 100%;
            border-radius: 6px;
            object-fit: contain;
            outline: none
        }
}

@media(max-width:600px) {
    .product {
        margin-top: 10px
    }
    .container-product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .product {
        width: 100%;
    }
    .container-search{
        display: none;
    }
    .boss-container{
        width: 100%;
    }

    .product_price {
        text-align: center;
        font-size: 13px;
        line-height: 16px
    }
    .product_name {
        text-align: center;
        font-size: 15px;
        line-height: 18px
    }
}
@media(max-width:700px){
/* //////////////////// MODAL ////////////////////// */
.container-pop{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

.modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        border: 1px solid #888;
        width: 100%;
        border-radius: 20px 20px 0 0;
        z-index:1;
      } 

      .site1{
          padding: 0;
      }
      .pop-img{
        width: 100%;
        border-radius: 5px;
    }
    .site2{
        margin-left: 1%;
    }

    svg{
        overflow: hidden;
    }

    .hide{
        
        justify-content: center;
        align-items: center;
        min-width: 65px;
        height: 45px;
        position: fixed;
        bottom: 25px;
        right: 15px;
        filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .3));
        border-radius: 50px;
        background-color:rgb(196, 197, 186);
        z-index: 99;
    }
     .bagicon__icon{
      cursor: pointer;
      width: 37px;
      height: 30px; 
      color: white;
      margin: 7px;
      z-index: 1000;

    } 
    .show{
        display: block;
    }
}
@media(min-width:600px) and (max-width:800px){
        .container-product{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .container-search{
            width: 105.1%;
        }
        .product {
            width: 100%;
        }

        .boss-container{
            width: 80%;
        }
        .product {
            margin-top: 10px
        }

        .product_price {
            text-align: center;
            font-size: 13px;
            line-height: 16px
        }
        .product_name {
            text-align: center;
            font-size: 15px;
            line-height: 18px
        }
}
